streamlit==1.21.0
pandas
numpy==1.24.2
requests
beautifulsoup4
Pillow==9.2.0
scikit-learn
contractions
nltk
spacy==3.5.1
openai==0.27.1
python-dotenv
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
